
body {
    background-color: rgb(4, 112, 121);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Gill Sans, sans-serif;
    margin: auto 0;
    padding: 0;
}

p {
    color: #333; 
    font-family: "Press Start 2P", system-ui; 
    font-size: 12px;
    line-height: 1.5; 
}

h1 {
    color: #333; /* Choose your preferred color */
    font-family: "Press Start 2P", system-ui; /* Choose your preferred font family */
    font-size: 36px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the title bold */
    letter-spacing: 2px; /* Add some letter spacing for better readability */
    text-align: center; /* Center align the title */
    text-transform: uppercase; /* Transform the text to uppercase */
    text-decoration: underline; /* Add underline to the text */
}

    .container {
        text-align: center;
        margin-top: 20px;
    }
    
    nav {
        font-size: 0.75em;
        margin: 0;
        margin-top: 20px;
        padding: 1em 0;
        text-align: center;
      }
      nav ul {
        list-style-type: none;
        padding-left: 0;
        text-align: center;
      }
      nav li {
        display: inline;
        letter-spacing: 0.05rem;
        padding: 3pt; /*0 padding top and bottom 10 pt left and right*/
        text-transform: uppercase;
      }
      nav a {
        border: 2px solid white;
        border-radius: 3px;
        color: #452f84ff;
        font-weight: bold;
        text-decoration: none;
        padding: 2px;
        margin: 2px;
      }
      nav a:hover {
        border: 2px solid #374079ff;
        border-radius: 8px;
        color: #374079ff;
      }
      nav a:visited {
        color: #09283c;
      }
      nav a:active {
        color: #092;
      }



.site-intro {
    font-size: 1.25rem
}
/****CONTACT PAGE STYLES*****************************************/
form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

form ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

header h1 {
    color: #333;
    font-family: "Press Start 2P", system-ui;
    font-size: 36px;
    margin-bottom: 10;
    text-decoration: underline;
}

}
label{
    display: inline-block;
    min-width: 90px;
    text-align: center;
}
input,
textarea{
    width: 300px;
    padding: .5em;
    font: 1em sans-serif;
}
form li{
    margin-bottom: 1em;
}
textarea{
    vertical-align: top;
}


/******************************************************************/
