
body {
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Gill Sans, sans-serif;
    margin: auto 0;
    padding: 0;
}

p {
    color: #000000; 
    font-family:'Times New Roman', Times, serif
    font-size: 12px;
    line-height: 1.5; 
}

h1 {
    color: #000000; 
    font-family: "Press Start 2P", system-ui; 
    font-size: 36px; 
    font-weight: bold;
    letter-spacing: 2px; 
    text-align: center; 
    text-transform: uppercase; 
    text-decoration: underline; 
}

.container {
    text-align: center;
    margin-top: 20px;
}
    
nav {
    font-size: 2em;
    margin: 0;
    margin-top: 20px;
    padding: 1em 0;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}
nav li {
    display: inline;
    letter-spacing: 0.05rem;
    padding: 3pt; 
    text-transform: uppercase;
}
nav a {
    border: 2px solid white;
    border-radius: 3px;
    color: #452f84ff;
    font-weight: bold;
    text-decoration: none;
    padding: 2px;
    margin: 2px;
}
nav a:hover {
    border: 2px solid #374079ff;
    border-radius: 8px;
    color: #374079ff;
}
nav a:visited {
    color: #09283c;
}
nav a:active {
    color: #092;
}

img {
    left: 10;
    position: relative;
    width 60px;
    top: 10;
    height: fixed;
    z-index:auto;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.site-intro {
    font-size: 1.25rem
    }
ul {
    font-size: 12;
}
section li {
    font-size: 14;
}
/****CONTACT PAGE STYLES*****************************************/
form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

form ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

header h1 {
    color: #333;
    font-family: "Press Start 2P", system-ui;
    font-size: 36px;
    margin-bottom: 10;
    text-decoration: underline;
}

}
label{
    display: inline-block;
    min-width: 90px;
    text-align: center;
}
input,
textarea{
    width: 300px;
    padding: .5em;
    font: 1em sans-serif;
}
form li{
    margin-bottom: 1em;
}
textarea{
    vertical-align: top;
}


/******************************************************************/

/***************ABOUT PAGE*****************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

nav {
    background-color: #0ed4f3;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: solid;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.tagline {
    font-style: italic;
    color: #ffffff;
}

section p {
    font-size: 2em;
    line-height: 1.6;
}

section {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

section h2 {
    margin-bottom: 10px;
}

section p {
    line-height: 1.6;
}

/****BADGE GALLERY****/

#badge-gallery{
    margin-top: 30px;
    padding: 0 20px;
}

#badge-gallery img{
    display: block;
    width: 100px;
    margin-top: 9px;
}

@media (min-width:500px){
    #badge-gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 6px;
        margin-top: 0;
    }
}