
body {
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Gill Sans, sans-serif;
    margin: auto 0;
    padding: 0;
}

h1 {
    color: #333; /* Choose your preferred color */
    font-family: "Press Start 2P", system-ui; /* Choose your preferred font family */
    font-size: 36px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the title bold */
    letter-spacing: 2px; /* Add some letter spacing for better readability */
    text-align: center; /* Center align the title */
    text-transform: uppercase; /* Transform the text to uppercase */
    text-decoration: underline; /* Add underline to the text */

nav ul{
   padding-left: 0; 
   list-style-type: none;
   text-align: center;
}

nav li{
    display: inline;
    padding: 0 10pt;
}

nav a{
    
}



.site-intro {
    font-size: 1.25rem
}
/****CONTACT PAGE STYLES*****************************************/
form ul{
    list-style-type: none;
    padding-left: 0;
}
label{
    display: inline-block;
    min-width: 90px;
    text-align: right;
}
input,
textarea{
    width: 300px;
    padding: .5em;
    font: 1em sans-serif;
}
form li{
    margin-bottom: 1em;
}
textarea{
    vertical-align: top;
}


/******************************************************************/
