/*
    Victor Santos
    MCC
    First Stylesheet
    3/6/24
*/
h1, h2, h3{
    color: #AE053E;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1{
    color:rgb(233, 10, 10);
    font-weight: normal;
    letter-spacing: .1rem;
    text-transform: uppercase;

}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

.site-intro {
    font-size: 1.25rem
}